{% extends "layouts/dashboard.html" %}
{% block title %} Channels {% endblock %}

{% block content %}

<h1>CHANNELS</h1>

<form method="POST" action="{{ url_for('logged.channels') }}">
    {{ form.hidden_tag() }}
    <table>
        <thead>
            <tr>
                <th> Title: </th>
                <th> Link: </th>
                <th> Disabled: </th>
            </tr>
        </thead>
        <tbody>
            {% for channel in channels %}
                <tr>
                    <td>{{channel.title}}</td>
                    <td>{{channel.link}}</td>
                    <td>
                        <input type="checkbox" name="disabled" value="{{ channel.uuid }}"
                               {% if channel.disabled_by_user %}checked{% endif %}>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div style="margin-top: 20px;">
        <button type="submit" class="btn btn-primary">Save Changes</button>
    </div>
</form>

{% endblock %}