{% extends "layouts/auth.html" %}
{% block title %} Nastala chyba {% endblock %}

{% block content %}
<div class="columns is-centered mt-6">
    <div class="column is-6 has-text-centered">

        <div class="block">
            <span class="icon is-large has-text-danger">
                <i class="fas fa-exclamation-triangle"></i>
            </span>
        </div>

        <h1 class="title is-2 is-uppercase has-text-white">Něco se pokazilo</h1>

        <div class="box has-background-black-bis is-borderless mt-5">
            <p class="subtitle is-5 has-text-danger-light">
                {{ message }}
            </p>
        </div>

        <p class="has-text-grey mt-5">
            Bez obav, není to vaše chyba. Zkuste stránku obnovit nebo se vraťte do bezpečí pomocí odkazů níže.
        </p>

        <hr class="has-background-grey-darker my-6">

        <nav class="buttons is-centered">
            <a href="{{ url_for('auth.login') }}" class="button is-primary is-outlined is-uppercase">
                <strong>Přihlásit se</strong>
            </a>
            <a href="{{ url_for('auth.register') }}" class="button is-dark is-inverted is-outlined is-uppercase">
                Registrace
            </a>
            <a href="{{ url_for('auth.index') }}" class="button is-ghost is-uppercase">
                Domů
            </a>
        </nav>

    </div>
</div>
{% endblock %}